// expected: no error


@import "../dist/index";

//core module
@mixin core() {
	$name: "core";
	$version: "2.0.0";
	$dependencies: ();

	@include versioning-add( $name, $version, $dependencies ); //add to global scope


	.au-core {
		color: rebeccapurple;
	}
}


//accordion module
@mixin accordion() {
	$name: "accordion";
	$version: "1.0.0";
	$dependencies: (
		("core", "2.0.0"),
		("grid", "1.0.0"),
	);

	@include versioning-add( $name, $version, $dependencies ); //add to global scope


	.au-accordion {
		color: hotpink;
	}
}


//button module
@mixin button() {
	$name: "button";
	$version: "1.0.0";
	$dependencies: (
		("core", "2.0.0"),
		("grid", "1.0.0"),
	);

	@include versioning-add( $name, $version, $dependencies ); //add to global scope


	.au-button {
		background: hotpink;
	}
}


//adding modules
@include core();
@include accordion();
@include button();

//remove grid module
@include versioning-remove( 'grid' ); //remove from dependencies

//checking all versions
@include versioning-check();